@charset "UTF-8";
@font-face {
  font-family: 'Poppins';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/Poppins-Bold.ttf');
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

/******************************************************************************
FRONTPAGE STYLES
******************************************************************************/

.front-page-wrapper {
  position: relative;
  z-index: 10;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #fff;
  background: url('../img/background.jpg')no-repeat center / cover;
}

.front-page-wrapper::before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: .5;
  background: #000;
}

.front-page-header {
  font-size: 2rem;
  display: flex;
  width: 100%;
  height: 8em;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.front-page-header a {
  color: #ffffff;
  text-decoration: none;
}

.front-page-nav {
  font-size: 1rem;
  position: absolute;
  top: 0;
  width: 100%;
  height: 3em;
  padding: .5em;
}

.front-page-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.front-page-nav ul li {
  display: inline-block;
}

.front-page-nav ul li a {
  display: block;
  min-width: 3em;
  height: 2em;
  padding: 0 .5em;
  text-decoration: none;
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
}

.front-page-nav ul li a:hover {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
}

.front-page-main {
  font-size: 1rem;
  height: calc(100vh - 16em);
  text-align: center;
}

.link-button {
  min-width: 10px;
  height: 2em;
  background-color: #8345bf;
  padding: .5em;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
}
